# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Poetry
poetry.lock
.pids/
.poetry/
.pybuilder/
target/

# Virtual Environments
.venv
venv/
VENV/
env/
ENV/
.env

# IDE / Editor folders
.vscode/
.idea/
